#community .card {
    min-height: 300px;
    cursor: pointer;
    text-decoration: none;
}

#community .card .card-content .text p {
    font-size: 20px;
}

#community .card .card-content .text p,
#community .card .card-header {
    color: #fff;
}

#community .card .card-header h3 svg {
    --size: 200px;
    width: var(--size);
    height: var(--size);
    background-color: red;
}

#community .discord {
    background-color: #5865f2;
}

#community .mostodon {
    background-color: #5e55ed;
}

#community .youtube {
    background-color: #ff0000;
}

#community .card .card-video-grid .card-video iframe {
    width: 500px;
    height: 300px;
}

#community .card .card-video-grid {
    display: grid;
    align-items: start;
    justify-content: space-between;

    --video-width: 500px;
    grid-template-columns: calc(100% - var(--video-width) - 20px) var(--video-width);
}

#community .card.card--full {
    width: calc(100% - 60px);
}

@media screen and (max-width: 1100px) {
    #community .card.card--full {
        height: auto !important;
    }

    #community .card .card-header {
        margin-top: 20px;
    }

    #community .card .card-video-grid {
        display: flex;
        flex-direction: column-reverse;
    }

    #community .card .card-video-grid .card-video iframe {
        grid-template-columns: none;
        width: calc(100vw - 118px);
        height: 500px;
    }
}

@media screen and (max-width: 950px) {
    #community .card .card-video-grid .card-video iframe {
        height: 400px;
    }
    
}

@media screen and (max-width: 700px) {
    #community .card .card-video-grid .card-video iframe {
        height: 300px;
    }
}

@media screen and (max-width: 550px) {
    #community .card .card-video-grid .card-video iframe {
        height: 250px;
    }
    
}

@media screen and (max-width: 1200px) {
    #community .flexGrid {
        grid-template-columns: 100%;
    }

    #community .card {
        min-height: 80px;
    }
}

#community .telegram {
    background-color: #20a0e1;
}

#community .matrix {
    background-color: #0f0f0f;
}
